* {
    margin: 0px;
}
#footer{
    background:#152941;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
  }
  
  .footer-top{
    background: #1B3D59;
    padding: 60px 0 30px 0;
  }
  
  .footer-info{
    margin-bottom: 0px;
    padding: 2px 0 2px 0;
    line-height: 1;
  }
  
  .footer-info p{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: Georgia, serif;
    color: #ecf5ff;
  }
  
  .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  }
  
  .social-links a:hover{
    background: #0067d5;
    color: #fff;
  }
  
  .footer-top h4{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  
  #footer .footer-top .footer-links{
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul li{
    padding: 8px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a{
    color: #ecf5ff;
  }
  
  #footer .footer-top .footer-links ul a:hover{
    color: #74b5fc;
  }
  
  #footer .footer-top .footer-contact{
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p{
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter{
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"]{
    border: 0;
    padding: 6px 8px;
    width: 65%;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]{
    background: #007bff;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .copyright {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  /*.image-text{
    margin-left: 4px;
  }*/
  